@{
    ViewData["Title"] = "About";
}

<div class="row text-center">
    <div class="col col-sm">
        <h1>Project Sponsors</h1>
    </div>
</div>

<div class="row">
    <div class="col col-sm">
        <div class="card">
            <img class="card-img-top" src="" alt="Yvonne Kirby">
            <div class="card-body">
                <h5 class="card-title">Yvonne Kirby</h5>
                <h6>Project Sponsor</h6>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col col-sm">
        <div class="card">
            <img class="card-img-top" src="~/images/martie.jpg" alt="Martie Kaczmarek">
            <div class="card-body">
                <h5 class="card-title">Martie Kaczmarek</h5>
                <h6>Project Sponsor</h6>
                <p class="card-text"></p>
            </div>
        </div>
    </div>

    <div class="col col-sm">
        <div class="card">
            <img class="card-img-top" src="~/images/stan.jpg" alt="Stan Kurkovsky ">
            <div class="card-body">
                <h5 class="card-title">Stan Kurkovsky </h5>
                <h6>Professor</h6>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col col-sm">
        <h1>Students</h1>
    </div>
</div>


<div class="row">
    <div class="col col-sm">
        <div class="card">
            <img class="card-img-top" src="~/images/parvathy.png" alt="Parvathy Kumar">
            <div class="card-body">
                <h5 class="card-title">Parvathy Kumar</h5>
                <p class="lead">Team Grad</p>
                <p class="card-text">My name is Parvathy Kumar, I have a background in computer science and am currently doing my Master of science in CCSU in New Britain. I received my Bachelor’s in b.tech information technology. My area of interest is in data-warehousing, and I am eager to learn more database tools like SQL server, Netezza, Oracle etc. Currently I am learning SQL concepts and also trying to involve the ETL process in the data-warehouse concept. I am always willing to learn new technical tools and like to implement my knowledge in a competitive environment that challenges my skills to its limits, but I am also always willing to learn new technologies.</p>
                <a href="​https://github.com/parvathy1336" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>
    
    <div class="col col-sm">
        <div class="card">
            <img class="card-img-top" src="~/images/mansimran.png" alt="Mansimran Singh">
            <div class="card-body">
                <h5 class="card-title">Mansimran Singh</h5>
                <p class="lead">Team Grad</p>
                <p class="card-text">I acquired my bachelor’s degree in Computer Science from CCSU, and am currently enrolled in CCSU’s masters program. I work at Pfizer as a Test Automation Engineer and am strong in design and integration problem-solving skills. Expert in Java, node.js, SQL with database analysis and design. Skilled in developing business plans, requirements specifications, user documentation, and architectural systems research. Strong written and verbal communication.</p>
                <a href="​https://github.com/Mansimran-Singh" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>

    <div class="col col-sm">
        <div class="card">
            <img class="card-img-top" src="~/images/jason.png" alt="Jason Smith">
            <div class="card-body">
                <h5 class="card-title">Jason Smith</h5>
                <p class="lead">Team Grad</p>
                <p class="card-text">I went into the military after high school in KY and I am considered a wartime veteran. Afterwards, I went and got my B.A. in English from the University of Kentucky and I have a minor in Agriculture Economics. Then afterwards I went into sales in Dallas, TX in car sales. Then moved to Cincinnat,i OH and got into banking. Then moved to Connecticut to get my masters degree to have a better chance to work at a hedge fund by proximity to wall street. I want to work in A.I. to do low level trades on Wall Street.</p>
                <a href="​https://github.com/JRSMITB" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>

    <div class="col col-sm">
        <div class="card">
            <img class="card-img-top" src="~/images/dan.jpg" alt="Dan Champagne">
            <div class="card-body">
                <h5 class="card-title">Dan Champagne</h5>
                <p class="lead">Team Grad</p>
                <p class="card-text">I received my bachelor’s in computer science from ECSU, and enrolled in CCSU’s masters program in 2020. I have worked at Cigna Healthcare since 2007 as a software engineer, systems analyst, DBA, and now lead developer on my team. I work predominantly with .NET, C#, and Javascript/jQuery, as well as DBA & IT infrastructure work. My first language was C/C++ and still do occasional work there, but more recently I have worked with Python and (rarely) Java.</p>
                <a href="https://github.com/DAndreChampagne" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-sm">
        <div class="card">
            <img class="card-img-top" src="~/images/" alt="">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="lead">Team Six</p>
                <p class="card-text">Yash Dalsania</p>
                <a href="https://github.com/" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>
    <div class="col col-sm">
        <div class="card">
            <img class="card-img-top" src="~/images/" alt="">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="lead">Team Six</p>
                <p class="card-text">Luis Gutierrez</p>
                <a href="https://github.com/" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>
    <div class="col col-sm">
        <div class="card">
            <img class="card-img-top" src="~/images/" alt="">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="lead">Team Six</p>
                <p class="card-text">Chenyang Lin</p>
                <a href="https://github.com/" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>
    <div class="col col-sm">
        <div class="card">
            <img class="card-img-top" src="~/images/" alt="">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="lead">Team Six</p>
                <p class="card-text">Trung Minh Tri Nguyen</p>
                <a href="https://github.com/" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>
    <div class="col col-sm">
        <div class="card">
            <img class="card-img-top" src="~/images/" alt="">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="lead">Team Six</p>
                <p class="card-text">Paul Pasquarelli</p>
                <a href="https://github.com/" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>
</div>
