@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">GenEd Assessment Software</h1>
    <p class="lead">Office of Institutional Research and Assessment at CCSU</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
        @* <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login" role="button">Log in</a> *@
    </p>
</div>
